# ==========================================
# AcoustBuld - .gitignore
# ==========================================

# ---------- Segurança: Nunca versionar -----
*.env,env,*
*.db
*.sqlite
*.sqlite3

# ----- Python \ Back-end
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
*.egg-info/

# ------- Node / Front=end 
frontend/node_modules/
frontend/dist/
frontend/.vite

# ------ Sistema Operacional
#Mac
.DS_Store
#Windows
Thumbs.db
desktop.ini

# --- IDEs e Editores ---
.vscode/
.idea/
*.swp